///////********COLORS***********/////////////
$bg-color: #8BC6EC;
$bg-html:linear-gradient(90deg, rgba(131,58,180,0.8) 0%, rgba(253,29,29,0.9) 50%, rgba(252,176,69,0.9) 100%);;
$bg-color-start-btn: #39c651;
$color-text: #39c651;
$color-start-text-btn: #ffff;
$color-black: black;
$color-tomato: tomato;
$color-lightslategray: lightslategray;
$color-darkgreen : darkgreen;
$color-red : red;

///////********FONTS***********/////////////

$tableTittle: 1.3em;
$tHeaders:1.2em;
